h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px; 
    text-align:center; 
    
}
.topone{
    font-family: Madefor,Helvetica;
    position: fixed;
    margin-top:-201px;
    height: 180px;
    width:100%;
    display: flex;
    padding: 20px;
    background-color: white;
}

.insidetop1{
    margin-left: 20px;
    background-color: cadetblue;
    height: 15px;
    width: 15px;
    margin-top: 104px;

    
}.insidetop2{
    height:auto;
    font-family: Madefor,Helvetica;
    margin-left: 20px;
    font-size: 35px;
    margin-top: 57px;
}
.dev{
    font-size: 18px;
    margin-left: 13px;
    margin-top: 58px;
    height: 27px;
    width: 234px;
    margin-top: 108px;
   
}
.abt{
    color:black;
    background-color: transparent;
    margin-top: 98px;
    height: 59px;
    width: 124px;
    margin-left: 450px;
    
}
.resu{
    margin-top: 98px;
    height: 59px;
    width: 50px;
    margin-left: -20px;
}
.projcts{
    margin-top: 98px;
    height: 59px;
    width: 60px;
    margin-left: 39px;
}
.contcts{
    margin-top: 98px;
    height: 59px;
    width: 60px;
    margin-left: 39px;
}

.myWebsite{
    font-size: 20px;
    font-family: Madefor,Helvetica;
 
}
.maindiv{
    height: 1000px;
    width: 1000px;
}
.leftdiv{
    background-color:antiquewhite;
    height: 800px;
    width: 600px;
    border: black;
    margin-top: 200px;
}
.rightdiv{
    font-size: larger;
    height: 800px;
    width: 550px;
    border: black;
    margin-top: -625px;
    float: right;
    margin-right: -460px;
}
.centerdiv{
    box-shadow: -29px 45px 488px grey;
    background-color:bisque;
    height: 450px;
    width: 350px;
    margin-left: 500px;
    margin-top: -623px;
    padding: 1px;

}
.circle{

    height: 100px;
    width:100px;
    margin-top: 20px;
    margin-left: 8px;
    float:right;
    
}
.circle1{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 93px;
    background-color: white;
    border-radius: 77px;
    overflow: hidden;
    

   
}
.namediv{
    height: 100px;
    width: 119px;
    margin-left: 111px;
    margin-top: 30px;
    text-align: center;
    font-family: Madefor,Helvetica;
    font-size: medium;
}
.line{
    height: 0px;
    width: 50px;
    border: 2px solid;
    margin-left: 144px;
    margin-top: -38px;
}
.title{
    height: 35px;
    margin-left: 78px;
    margin-top: 51px;
    
}
.logos{
    box-shadow: 16px 22px 61px grey;
    margin-left: -2px;
    margin-top: 50px;
    height: 50px;
    width: 101%;
    display: flex;
    background-color: white;
}
.instalogo{
    margin-top: 10px;
    height: 31px;
    width: 35px;
    margin-left:59px;
}
.linkdinlogo{
    margin-top: 10px;
    height: 31px;
    width: 35px;
    margin-left: 32px;
}
    
.gitlogo{
    margin-top: 10px;
    height: 31px;
    width: 35px;
    margin-left: 32px;
}
.emaillogo{
    margin-top: 10px;
    height: 31px;
    width: 35px;
    margin-left: 32px;
}
.content{
    padding:20px;
    height:200px;
    width:200px;

}
.con{
    font-size:22;
    margin-top: -20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 396px;
    height: 43px;
   
}
.buttons{
    display: flex;
}
.button1{
    border: 1px solid white;
    width: 98px;
    height: 32px;
    background-color: lightcoral;
    margin-top: 40px;
    border-radius: 9px;
}
.button2{
    border:1px solid;
    width: 110px;
    height: 30px;
    margin-top: 40px;
    border-radius: 9px;
    margin-left: 4px;
    
}
.about{
    line-height: 1.5;
    font-weight: 100;
    font-family: Madefor,Helvetica;
    margin-top: 108px;
    height: 216px;
    width: 410px;
    margin-left:21px;
}
.bottomone{
    font-family: Madefor,Helvetica;
    font-weight:100;
    height: 175px;
    width: 100%;
    position: absolute;
    margin-top: 200px;
    display:flex;

}
.call{
    margin-top:30px;
    height:100px;
    width:100px;
    margin-left: 850px;
    text-align: center;
}
.mob{
    height:40px;
    margin-top:-5px;
}
.writte{
    
    margin-top: 30px;
    height: 100px;
    width: 180px;
    margin-left: 43px;
    text-align: center;
}
.maill{
    height:40px;
    margin-top:-5px;
    text-align: center;
}
.flwmain{
    margin-left: 10px;
    margin-top: 17px;
    height: 105px;
    width: 198px;
    text-align: center;
}
.follw{
    
    width: 100px;
    margin-left: 50px;
    height: 40px;
    margin-top: 30px;
}
.logos2{
    
    margin-top: -5px;
    display: flex;
    height: 36px;
    width: 200px;
    margin-left: 21px;
}
.instalogo2{
    margin-top: -11px;
    height:20px;
    width:20px;

}
.linkdinlogo2{
    margin-left:25px;
    margin-top: -11px;
    height:20px;
    width:20px;
}
.gitlogo2{
    margin-left:25px;
    margin-top: -11px;
    height:20px;
    width:20px;
}
.emaillogo2{
    margin-left:25px;
    margin-top: -11px;
    height:20px;
    width:20px;
}
a{
    color:black;
    text-decoration: none;
}